Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 24
Xcursor.theme: capitaine-cursors

urxvt*internalBorder: 5
urxvt*dynamicColors: on
!*URxvt.perl-ext-common:         osc-xterm-clipboard
URxvt.scrollBar: false
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

URxvt.font:xft:Source Code Pro for Powerline:pixelsize=14
URxvt.boldFont:xft:Source Code Pro for Powerline:pixelsize=14

URxvt.underlineURLs: true
URxvt.url-select.launcher:                      /usr/local/bin/waterfox-g3
URxvt.url-select.underline:                     true
URxvt*cursorBlink:                              true
URxvt*cursorUnderline:                          true
